# React / Node / Frontend
node_modules/
dist/
build/
.next/
out/
.env.local
.env.development.local
.env.production.local
*.log

# .NET / Backend
bin/
obj/
*.userprefs
*.suo
*.cache
*.pdb
*.vs/
.vscode/
ServerAPI/ServerAPI/appsetting.json
ServerAPI/ServerAPI/appsettings.json
.DS_Store
client-app/.env.production
